@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
button,
input,
select,
textarea {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
:root {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-size: 1.6em;
  background-color: #f0f4f8;
  color: #4299e1;
}
h1,
.subtitulo {
  text-align: center;
  margin: 0;
  color: #2d3748;
}
.subtitulo {
  font-size: 1.3rem;
  display: block;
  color: #718096;
}
#container {
  width: 250px;
  margin: 0 auto;
  padding: 2rem;
  background: rgb(210, 245, 252);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.05);
}
#avatar {
  display: block;
  width: 150px;
  border-radius: 50%;
  border: 0.5rem solid aliceblue;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: bold;
}
ul a {
  background-color: aliceblue;
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  color: #4299e1;
  display: block;
  margin-top: 1rem;
  border: 0.2rem solid rgb(175, 241, 254);
}
ul a:hover {
  background: rgb(175, 241, 254);
  transition: all 0.3s ease;
}
ul a:active {
  transform: scale(1.01);
}

